<nav>
    <a href="{{ site.baseurl }}/index.html">
        <img src="{{ site.baseurl }}/images/Logo.png" alt="Heart Source Logo" class="logo">
    </a>
    <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul id="nav-menu">
        <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
        <li><a href="{{ site.baseurl }}/about.html">About</a></li>
        <li class="dropdown">
            <a href="{{ site.baseurl }}/personal-instruction.html">Coaching</a>
            <div class="dropdown-content">
                <a href="{{ site.baseurl }}/personal-instruction.html">Overview</a>
                <a href="{{ site.baseurl }}/individual-life-coaching.html">Individual Life Coaching</a>
                <a href="{{ site.baseurl }}/couples-life-coaching.html">Couples Life Coaching</a>
                <a href="{{ site.baseurl }}/pain-free-yoga.html">Private Pain-Free Yoga</a>
                <a href="{{ site.baseurl }}/health-coaching.html">One-on-One Health Coaching</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="{{ site.baseurl }}/upkeep.html">Upkeep</a>
            <div class="dropdown-content">
                <a href="{{ site.baseurl }}/upkeep.html">Overview</a>
                <a href="{{ site.baseurl }}/weekly-yoga-classes.html">Weekly Pain-Free Yoga Classes</a>
                <a href="{{ site.baseurl }}/mens-coaching.html">3 Month Men's Group Coaching</a>
                <a href="{{ site.baseurl }}/group-nutrition-coaching.html">3 Month Group Nutrition & Health Coaching</a>
                <a href="{{ site.baseurl }}/community-coaching.html">3 Month Community Coaching</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="{{ site.baseurl }}/education.html">Education</a>
            <div class="dropdown-content">
                <a href="{{ site.baseurl }}/education.html">Overview</a>
                <a href="{{ site.baseurl }}/health-counseling-training.html">Health Counseling Training Program</a>
                <a href="{{ site.baseurl }}/yoga-teacher-training.html">Pain-Free Yoga Teacher Training</a>
                <a href="{{ site.baseurl }}/somatic-trauma-training.html">Somatic Trauma Teacher Training</a>
                <a href="{{ site.baseurl }}/additional-training.html">Additional Training Programs</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="{{ site.baseurl }}/immersion.html">Immersion</a>
            <div class="dropdown-content">
                <a href="{{ site.baseurl }}/immersion.html">Overview</a>
                <a href="{{ site.baseurl }}/workshops.html">Workshops</a>
                <a href="{{ site.baseurl }}/retreats.html">Retreats</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="{{ site.baseurl }}/resources.html">Resources</a>
            <div class="dropdown-content">
                <a href="{{ site.baseurl }}/newsletter.html">Newsletter</a>
                <a href="{{ site.baseurl }}/faq.html">FAQ</a>
                <a href="{{ site.baseurl }}/testimonials.html">Testimonials</a>
                <a href="{{ site.baseurl }}/contact.html">Contact</a>
            </div>
        </li>
    </ul>
</nav>
